@charset "utf-8";

$a:#f00;
$b:#ffb400;
$c:#fff600;
$d:#1a9f00;
$e:#27b8d1;
$f:#0044ff;
$g:#7600d1;
.cc1{background-color: #bcd79d;}
.cc2{background-color: #f3cc99;}
.cc3{background-color: #f3f099;}
.cc4{background-color: #c7d94f;}
.cc5{background-color: #63d94f;}
.cc6{background-color: #4fd9b4;}
