@charset "UTF-8";
.cc1 {
  background-color: #bcd79d; }

.cc2 {
  background-color: #f3cc99; }

.cc3 {
  background-color: #f3f099; }

.cc4 {
  background-color: #c7d94f; }

.cc5 {
  background-color: #63d94f; }

.cc6 {
  background-color: #4fd9b4; }

.m0-a {
  margin: 0 auto; }

html, body {
  font-family: 'Noto Sans CJK TC', sans-serif, "微軟正黑體", "新細明體",'Roboto Mono', monospace,Arial;
  color: #262c2c;
  background-color: #e0e0e0; }
  html a, body a {
    color: #262c2c; }

ul, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none; }

:focus {
  outline: none; }

.mr0 {
  margin-right: 0; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt60 {
  margin-top: 60px !important; }

.mt70 {
  margin-top: 70px !important; }

.mt80 {
  margin-top: 80px !important; }

.mt90 {
  margin-top: 90px !important; }

.mt100 {
  margin-top: 100px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.w10 {
  width: 10% !important; }

.w20 {
  width: 20% !important; }

.w30 {
  width: 30% !important; }

.w40 {
  width: 40% !important; }

.w50 {
  width: 50% !important; }

.w60 {
  width: 60% !important; }

.w70 {
  width: 70% !important; }

.w80 {
  width: 80% !important; }

.w90 {
  width: 90% !important; }

.w100 {
  width: 100% !important; }

.p-tb20 {
  padding: 20px 0; }

.p5 {
  padding: 5px; }

.p10 {
  padding: 10px; }

.p20 {
  padding: 20px; }

.p30 {
  padding: 30px; }

.p40 {
  padding: 40px; }

.tc {
  text-align: center; }

.pr-0 {
  padding-right: 0px; }

.pl-0 {
  padding-left: 0px; }

.mr-l-0 {
  margin-right: 0px;
  margin-left: 0px; }

.pr-pl-0 {
  padding-right: 0px;
  padding-left: 0px; }

.clearfix2 {
  zoom: 1;
  clear: both;
  float: none; }
  .clearfix2:before {
    content: "";
    display: table; }
  .clearfix2:after {
    content: "";
    display: table;
    clear: both; }

.db {
  display: block; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b,
strong {
  font-weight: 500; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

::-moz-selection {
  background: #262c2c;
  color: #fff; }

::selection {
  background: #262c2c;
  color: #fff; }

nav .menu {
  width: 46px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
  text-align: center; }
  nav .menu .switch {
    width: 100%;
    height: 50px;
    background-color: #191e1e;
    position: relative;
    cursor: pointer; }
    nav .menu .switch::before, nav .menu .switch::after {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      display: block;
      width: 24px;
      height: 2px;
      background-color: #fff;
      transition: .3s; }
    nav .menu .switch::before {
      content: '';
      top: 33%; }
    nav .menu .switch::after {
      content: '';
      bottom: 30%; }
    nav .menu .switch span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      display: block;
      width: 24px;
      height: 2px;
      background-color: #fff;
      transition: .3s; }
    nav .menu .switch.open {
      transition: .3s; }
      nav .menu .switch.open span {
        opacity: 0; }
      nav .menu .switch.open::before {
        transition: .3s;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        left: 24%;
        top: 49%; }
      nav .menu .switch.open::after {
        transition: .3s;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        left: 24%;
        bottom: 47%; }
  nav .menu .logo-nav {
    margin-top: 20px;
    position: relative;
    cursor: pointer; }
    nav .menu .logo-nav img {
      width: 60%;
      margin: 0 auto; }
    nav .menu .logo-nav:after {
      content: '';
      width: 1px;
      height: 100px;
      background-color: #9e9e9e;
      display: block;
      position: absolute;
      left: 50%;
      margin-top: 10px; }
    nav .menu .logo-nav + span {
      position: absolute;
      top: 335px;
      left: -68px;
      width: 180px;
      text-transform: uppercase;
      display: block;
      font-size: 11px;
      font-size: 0.6875rem;
      letter-spacing: 5px;
      text-align: right;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
      nav .menu .logo-nav + span span {
        display: block;
        -webkit-transform: scale(0.9);
                transform: scale(0.9); }
  nav .menu .link {
    position: absolute;
    bottom: 0;
    width: 46px;
    height: 90px; }
    nav .menu .link button {
      border-radius: 50px;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border: 0;
      text-align: left;
      background-color: #191e1e;
      color: #fff;
      position: absolute;
      left: 5px;
      outline: none;
      transition: .4s;
      transition: .3s; }
      nav .menu .link button:hover {
        transition: .4s;
        background-color: #36556f; }
      nav .menu .link button span {
        position: absolute;
        top: 50%;
        left: 41px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        display: inline-block;
        width: 200px;
        font-weight: 400; }
      nav .menu .link button svg {
        font-size: 22px;
        font-size: 1.375rem;
        position: absolute;
        top: 7px;
        left: 7px; }
      nav .menu .link button:nth-child(1) {
        text-align: center;
        top: -60px;
        opacity: 0;
        cursor: pointer; }
        nav .menu .link button:nth-child(1):hover {
          background-color: #36556f; }
        nav .menu .link button:nth-child(1).go {
          transition: .3s;
          top: -40px;
          opacity: 1; }
      nav .menu .link button:nth-child(2) {
        font-family: 'Roboto Mono', monospace,Arial;
        top: 0;
        margin-bottom: 0px; }
        nav .menu .link button:nth-child(2):hover {
          width: 200px; }
        nav .menu .link button:nth-child(2) svg {
          margin: 0 0px 0 4px; }
        nav .menu .link button:nth-child(2) span {
          letter-spacing: 1px;
          font-size: 22px;
          font-size: 1.375rem; }
      nav .menu .link button:nth-child(3) {
        top: 40px; }
        nav .menu .link button:nth-child(3):hover {
          width: 420px; }
        nav .menu .link button:nth-child(3) span:after {
          content: '';
          width: 1px;
          height: 12px;
          background-color: #fff;
          display: inline-block;
          margin-left: 10px;
          position: relative;
          top: 0px; }
        nav .menu .link button:nth-child(3) span a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          letter-spacing: 1px;
          position: relative;
          top: -2px; }
          nav .menu .link button:nth-child(3) span a:hover {
            color: #999; }
        nav .menu .link button:nth-child(3) span.address {
          left: 42px;
          letter-spacing: 1.5px;
          -webkit-transform: translateY(-58%);
                  transform: translateY(-58%); }
        nav .menu .link button:nth-child(3) span.copy {
          left: 252px; }
        nav .menu .link button:nth-child(3) span.mail {
          left: 334px; }
          nav .menu .link button:nth-child(3) span.mail:after {
            content: '';
            display: none; }

nav .sub-menu {
  transition: .3s ease-out;
  position: fixed;
  top: 0;
  left: -246px;
  width: 200px;
  height: 100%;
  z-index: 98;
  background-color: #191e1e;
  padding-left: 46px; }
  nav .sub-menu ul {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    list-style: none; }
    nav .sub-menu ul li {
      border-bottom: 1px dotted #656969;
      position: relative; }
      nav .sub-menu ul li:hover:after {
        width: 160px; }
      nav .sub-menu ul li:after {
        content: '';
        width: 0px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: .3s; }
      nav .sub-menu ul li a {
        display: block;
        letter-spacing: 1px;
        text-decoration: none;
        padding: 20px 0; }
        nav .sub-menu ul li a:after {
          content: '';
          color: #8d8f8f;
          font-family: 'Teko', sans-serif;
          margin-left: 5px;
          text-transform: uppercase; }
        nav .sub-menu ul li a:hover:after {
          color: #fff;
          transition: 0.3s; }
      nav .sub-menu ul li:nth-child(1) a:after {
        content: 'website'; }
      nav .sub-menu ul li:nth-child(2) a:after {
        content: 'banner'; }
      nav .sub-menu ul li:nth-child(3) a:after {
        content: 'dm . edm'; }
      nav .sub-menu ul li:nth-child(4) a:after {
        content: 'contact'; }
  nav .sub-menu a {
    color: #fff; }

.main {
  transition: .3s; }
  .main .kv-box {
    width: calc(100% - 100px);
    max-width: 1600px;
    height: 80vh;
    margin: 11vh auto 100px;
    background: #262c2c url("../images/kv.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    box-shadow: 0 32px 40px rgba(102, 102, 102, 0.5); }
    .main .kv-box ul.title {
      width: 100%;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: -50px;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 12px;
      font-size: 0.75rem;
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }
    .main .kv-box .logo {
      width: 195px;
      position: relative;
      z-index: 78; }
    .main .kv-box ul.kv-menu {
      display: flex;
      justify-content: flex-end;
      width: 95%;
      list-style: none;
      padding: 0;
      position: absolute;
      bottom: -40px;
      z-index: 80;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .main .kv-box ul.kv-menu li {
        width: 135px;
        height: 350px;
        margin-right: 1px;
        -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
                writing-mode: vertical-lr;
        background-color: #fff;
        transition: .3s;
        box-sizing: border-box;
        padding: 22px 0 0 15px;
        letter-spacing: 1px;
        background-repeat: no-repeat;
        background-position: -40% 90%;
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        font-size: 28px;
        font-size: 1.75rem; }
        .main .kv-box ul.kv-menu li a {
          display: block;
          width: 100%;
          text-decoration: none;
          position: relative; }
          .main .kv-box ul.kv-menu li a:after {
            content: '';
            font-size: 17px;
            font-size: 1.0625rem;
            color: #8d8f8f;
            font-family: 'Teko', sans-serif;
            margin-left: 5px;
            text-transform: uppercase;
            position: absolute;
            top: 3px;
            left: 24px;
            transition: .3s; }
        .main .kv-box ul.kv-menu li:hover {
          width: 250px;
          transition: .5s;
          -webkit-filter: grayscale(0%);
                  filter: grayscale(0%);
          background-position: 80% 90%;
          font-size: 35px;
          font-size: 2.1875rem; }
          .main .kv-box ul.kv-menu li:hover a:after {
            font-size: 20px;
            font-size: 1.25rem;
            left: 30px; }
        .main .kv-box ul.kv-menu li:nth-child(1) {
          background-image: url("../images/nav-item-bg1.jpg"); }
          .main .kv-box ul.kv-menu li:nth-child(1) a:after {
            content: 'website'; }
        .main .kv-box ul.kv-menu li:nth-child(2) {
          background-image: url("../images/nav-item-bg2.jpg"); }
          .main .kv-box ul.kv-menu li:nth-child(2) a:after {
            content: 'banner'; }
        .main .kv-box ul.kv-menu li:nth-child(3) {
          background-image: url("../images/nav-item-bg3.jpg"); }
          .main .kv-box ul.kv-menu li:nth-child(3) a:after {
            content: 'dm . edm'; }
        .main .kv-box ul.kv-menu li:nth-child(4) {
          background-image: url("../images/nav-item-bg4.jpg"); }
          .main .kv-box ul.kv-menu li:nth-child(4) a:after {
            content: 'contact'; }
    .main .kv-box .kv-txt-box {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0; }
    .main .kv-box ul.kv-txt {
      list-style: none;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 1000px;
      z-index: 79; }
      .main .kv-box ul.kv-txt li {
        color: #fff;
        width: 100%;
        height: 100%;
        position: relative;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2); }
        .main .kv-box ul.kv-txt li:before {
          content: '';
          display: block;
          width: 100%;
          height: 50%;
          max-width: 650px;
          font-weight: 700;
          line-height: 3.8rem;
          text-align: justify;
          position: relative;
          position: absolute;
          top: 10%;
          left: 50%;
          -webkit-transform: translateX(-90%);
                  transform: translateX(-90%);
          font-size: 56px;
          font-size: 3.5rem; }
        .main .kv-box ul.kv-txt li:nth-child(1):before {
          content: '為您量身訂作各類型RWD網站，符合W3C國際網頁標準，前後台設計及google流量平台設置，並單獨支援網頁切版等服務！'; }
        .main .kv-box ul.kv-txt li:nth-child(2):before {
          content: '提供素材BANNER製作，HTML5格式、動態GIF、靜態素材、特殊版位、社群用圖...配合度高、交件迅速，隨時火力支援你！'; }
        .main .kv-box ul.kv-txt li:nth-child(3):before {
          content: '一頁式網頁、平面DM製作提供、專業EDM設計，EDM格式適合各種收信軟體，免除收信破版的問題！'; }
        .main .kv-box ul.kv-txt li:nth-child(4):before {
          content: '2012年成立，致力於網站相關的各項內容制作及外包需求服務，也歡迎所有業界朋友一起合作，歡迎洽詢！'; }
        .main .kv-box ul.kv-txt li.for-mobile-set:before {
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8); }
    .main .kv-box .words {
      color: #fff;
      position: absolute;
      top: 20%;
      left: 50%;
      -webkit-transform: translateX(-80%);
              transform: translateX(-80%);
      z-index: 75;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 700px;
      height: 30px;
      font-size: 20px;
      font-size: 1.25rem;
      line-height: 29px;
      letter-spacing: 3px; }

@-webkit-keyframes slide-words {
  5% {
    top: 0;
    opacity: 1; }
  25% {
    top: 0;
    opacity: 1; }
  30% {
    top: -50px;
    opacity: 0; } }

@keyframes slide-words {
  5% {
    top: 0;
    opacity: 1; }
  25% {
    top: 0;
    opacity: 1; }
  30% {
    top: -50px;
    opacity: 0; } }
      .main .kv-box .words li {
        position: absolute;
        top: 40px;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 100%;
        text-align: center;
        -webkit-animation-name: slide-words;
                animation-name: slide-words;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-duration: 20s;
                animation-duration: 20s;
        opacity: 0; }
        .main .kv-box .words li:nth-child(1) {
          -webkit-animation-delay: 0s;
                  animation-delay: 0s; }
        .main .kv-box .words li:nth-child(2) {
          -webkit-animation-delay: 5s;
                  animation-delay: 5s; }
        .main .kv-box .words li:nth-child(3) {
          -webkit-animation-delay: 10s;
                  animation-delay: 10s; }
        .main .kv-box .words li:nth-child(4) {
          -webkit-animation-delay: 15s;
                  animation-delay: 15s; }

@-webkit-keyframes surfing {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top right;
            transform-origin: top right; }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: top right;
            transform-origin: top right; } }

@keyframes surfing {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: top right;
            transform-origin: top right; }
  to {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
    -webkit-transform-origin: top right;
            transform-origin: top right; } }
    .main .kv-box .surfing {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      left: 35%;
      width: 150px;
      height: 150px;
      z-index: 75;
      -webkit-animation-name: surfing;
              animation-name: surfing;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear; }
    .main .kv-box ul.kv-bg {
      list-style: none;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      z-index: 77; }
      .main .kv-box ul.kv-bg li {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        display: none;
        background-size: 100%;
        background-position: center center; }
        .main .kv-box ul.kv-bg li.go {
          -webkit-animation-name: gogo;
                  animation-name: gogo;
          -webkit-animation-timing-function: linear;
                  animation-timing-function: linear;
          -webkit-animation-duration: 50s;
                  animation-duration: 50s; }

@-webkit-keyframes gogo {
  from {
    background-size: 100%; }
  to {
    background-size: 200%; } }

@keyframes gogo {
  from {
    background-size: 100%; }
  to {
    background-size: 200%; } }
        .main .kv-box ul.kv-bg li.clear-animate {
          -webkit-animation: none;
                  animation: none;
          background-size: cover; }
        .main .kv-box ul.kv-bg li:nth-child(1) {
          background-image: url("../images/kv-item-bg1.jpg"); }
        .main .kv-box ul.kv-bg li:nth-child(2) {
          background-image: url("../images/kv-item-bg2.jpg"); }
        .main .kv-box ul.kv-bg li:nth-child(3) {
          background-image: url("../images/kv-item-bg3.jpg"); }
        .main .kv-box ul.kv-bg li:nth-child(4) {
          background-image: url("../images/kv-item-bg4.jpg"); }
  .main .item-tag {
    max-width: 1600px;
    margin: 0 auto 50px; }
    .main .item-tag h2 {
      display: inline-block;
      background-color: #fff;
      font-weight: normal;
      font-size: 28px;
      font-size: 1.75rem;
      letter-spacing: 1px;
      padding: 8px 5px 3px 55px;
      box-shadow: 0 5px 10px rgba(153, 153, 153, 0.3);
      position: relative;
      transition: .3s; }
      .main .item-tag h2.current {
        transition: 1s;
        background-color: #262c2c;
        color: #fff; }
        .main .item-tag h2.current:before {
          transition: 1s;
          content: '';
          background-color: #fff;
          width: 75px; }
      .main .item-tag h2:before {
        content: '';
        width: 1px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: -40px;
        background-color: #262c2c; }
      .main .item-tag h2:after {
        content: '';
        color: #8d8f8f;
        font-family: 'Teko', sans-serif;
        margin-left: 5px;
        text-transform: uppercase;
        display: block;
        font-size: 17px;
        font-size: 1.0625rem;
        text-align: right; }
      .main .item-tag h2.tag-web:after {
        content: 'website'; }
      .main .item-tag h2.tag-banner:after {
        content: 'banner'; }
      .main .item-tag h2.tag-edm:after {
        content: 'dm . edm'; }
      .main .item-tag h2.tag-contact:after {
        content: 'contact'; }
  .main #web {
    margin: 0 auto;
    background: transparent url("../images/bg-web.png") repeat 0 0;
    position: relative; }
    .main #web:after {
      content: '';
      width: 100%;
      height: 60%;
      background-color: #e0e0e0;
      position: absolute;
      top: 0;
      z-index: 69; }
    .main #web .inner-box {
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      padding-bottom: 50px;
      z-index: 70; }
      .main #web .inner-box .slider {
        position: relative;
        padding-bottom: 30px; }
        .main #web .inner-box .slider .slider-cover {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 999;
          pointer-events: none;
          width: 100%; }
          .main #web .inner-box .slider .slider-cover li.img {
            width: 90%;
            float: right; }
            .main #web .inner-box .slider .slider-cover li.img img {
              width: 100%; }
        .main #web .inner-box .slider.subnav {
          width: 80%;
          margin: 0 auto;
          background-color: #e0e0e0;
          padding: 25px 50px;
          text-align: center;
          letter-spacing: 1px; }
        .main #web .inner-box .slider .slick {
          width: 100%;
          position: relative;
          z-index: 99; }
          .main #web .inner-box .slider .slick li {
            position: relative; }
            .main #web .inner-box .slider .slick li .project-info {
              position: absolute;
              top: 0;
              left: 0;
              width: 16%; }
              .main #web .inner-box .slider .slick li .project-info dl {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px dashed #999;
                width: 100%; }
                .main #web .inner-box .slider .slick li .project-info dl:nth-last-child(2) {
                  border-bottom: 0; }
                .main #web .inner-box .slider .slick li .project-info dl dt {
                  font-size: 12px;
                  font-size: 0.75rem;
                  margin-bottom: 5px;
                  color: #2a4b67; }
                  .main #web .inner-box .slider .slick li .project-info dl dt:before {
                    content: '';
                    width: 10px;
                    height: 10px;
                    display: inline-block;
                    background-color: #2a4b67;
                    margin-right: 5px; }
                .main #web .inner-box .slider .slick li .project-info dl dd {
                  width: 100%;
                  padding: 0 15px;
                  font-size: 15px;
                  font-size: 0.9375rem;
                  line-height: 20px;
                  box-sizing: border-box; }
              .main #web .inner-box .slider .slick li .project-info button {
                background-color: #262c2c;
                padding: 5px 10px;
                color: #fff;
                border: 0;
                border-radius: 3px;
                font-weight: normal;
                letter-spacing: 1px;
                font-size: 14px;
                font-size: 0.875rem; }
                .main #web .inner-box .slider .slick li .project-info button.nonlink {
                  background-color: #ccc;
                  cursor: default; }
            .main #web .inner-box .slider .slick li a {
              width: 90%;
              display: block;
              float: right; }
              .main #web .inner-box .slider .slick li a img {
                width: 100%; }
  .main #banner {
    max-width: 1200px;
    margin: 50px auto; }
    .main #banner .slick2 {
      width: 100%;
      margin: 0 auto; }
      .main #banner .slick2 img {
        width: 100%; }
      .main #banner .slick2 span {
        display: block;
        line-height: 40px;
        text-align: center; }
    .main #banner .slick-prev,
    .main #banner .slick-next {
      width: 42px;
      height: 42px; }
    .main #banner .slick-prev {
      left: -50px; }
    .main #banner .slick-next {
      right: -50px; }
    .main #banner .slick-dots {
      bottom: -30px; }
  .main #dm {
    max-width: 1200px;
    margin: 50px auto;
    position: relative; }
    .main #dm .fancybox-button--zoom {
      display: none !important; }
    .main #dm .slick3 li div {
      transition: .3s; }
      .main #dm .slick3 li div:nth-child(1) {
        width: calc(100% - 20px);
        margin: 0 auto 10px;
        display: block;
        padding-top: 132%;
        background-size: 100%;
        background-position: 50% 50%; }
      .main #dm .slick3 li div:nth-child(2) {
        position: relative; }
        .main #dm .slick3 li div:nth-child(2) span {
          padding-left: 10px; }
        .main #dm .slick3 li div:nth-child(2) a {
          position: absolute;
          bottom: 37px;
          right: 20px;
          background-color: #262c2c;
          padding: 5px;
          border-radius: 5px;
          color: #999;
          font-size: 25px;
          font-size: 1.5625rem; }
          .main #dm .slick3 li div:nth-child(2) a:hover {
            color: #fff;
            padding: 15px; }
    .main #dm .slick3 li:hover a {
      transition: .3s;
      background-size: 110%; }
    .main #dm .slick-prev,
    .main #dm .slick-next {
      width: 42px;
      height: 42px; }
    .main #dm .slick-prev {
      left: -50px; }
    .main #dm .slick-next {
      right: -50px; }
    .main #dm .slick-dots {
      bottom: -30px; }
  .main #contact {
    max-width: 1200px;
    margin: 50px auto;
    position: relative; }
    .main #contact h3 {
      font-size: 113px;
      font-size: 7.0625rem;
      margin: 0 0 30px; }
    .main #contact .what {
      display: flex;
      font-weight: normal;
      justify-content: space-between;
      margin-bottom: 20px; }
      .main #contact .what .txt {
        flex: 0 0 30%; }
        .main #contact .what .txt h4 {
          font-size: 50px;
          font-size: 3.125rem; }
      .main #contact .what .dl-group {
        display: flex;
        flex: 0 0 70%;
        justify-content: space-between; }
        .main #contact .what .dl-group dl {
          flex: 0 0 32%; }
          .main #contact .what .dl-group dl:nth-child(1) dt {
            background-color: #36556f; }
            .main #contact .what .dl-group dl:nth-child(1) dt:after {
              content: '';
              border-top: 30px solid #36556f; }
          .main #contact .what .dl-group dl:nth-child(2) dt {
            background-color: #20354d; }
            .main #contact .what .dl-group dl:nth-child(2) dt:after {
              content: '';
              border-top: 30px solid #20354d; }
          .main #contact .what .dl-group dl:nth-child(3) dt {
            background-color: #0d2035; }
            .main #contact .what .dl-group dl:nth-child(3) dt:after {
              content: '';
              border-top: 30px solid #0d2035; }
          .main #contact .what .dl-group dl dt {
            border-radius: 5px;
            color: #fff;
            position: relative;
            text-align: center;
            font-size: 30px;
            letter-spacing: 8px;
            font-weight: 300;
            padding: 10px 0; }
            .main #contact .what .dl-group dl dt:after {
              content: '';
              width: 0;
              height: 0;
              border-top: 30px solid #2a4b67;
              border-right: 25px solid transparent;
              border-left: 25px solid transparent;
              position: absolute;
              bottom: -19px;
              left: 14px; }
          .main #contact .what .dl-group dl dd ul {
            margin-top: 30px;
            padding-left: 30px; }
            .main #contact .what .dl-group dl dd ul li {
              list-style-type: initial;
              margin-bottom: 5px;
              line-height: 23px; }
    .main #contact .can-do {
      display: flex; }
      .main #contact .can-do .txt {
        flex: 0 0 30%;
        box-sizing: border-box;
        padding-right: 1%; }
        .main #contact .can-do .txt h4 {
          font-size: 50px;
          font-size: 3.125rem;
          margin: 0 0 20px; }
        .main #contact .can-do .txt p {
          line-height: 28px;
          font-size: 20px;
          font-size: 1.25rem; }
        .main #contact .can-do .txt button {
          display: flex;
          background-color: #191e1e;
          width: 100%;
          color: #fff;
          text-align: left;
          border: 0;
          border-radius: 5px;
          box-sizing: border-box;
          padding: 15px 10px;
          margin-bottom: 10px;
          justify-content: center;
          align-items: center; }
          .main #contact .can-do .txt button:last-child {
            margin-bottom: 0; }
          .main #contact .can-do .txt button:hover {
            transition: .3s;
            background-color: #36556f; }
          .main #contact .can-do .txt button svg {
            font-size: 30px;
            font-size: 1.875rem;
            flex: 0 0 50px; }
          .main #contact .can-do .txt button div {
            flex: 0 0 calc( 100% - 50px);
            box-sizing: border-box;
            padding-left: 10px; }
            .main #contact .can-do .txt button div span a {
              color: #fff;
              text-decoration: none;
              font-size: 14px;
              letter-spacing: 1px;
              position: relative;
              top: -2px; }
              .main #contact .can-do .txt button div span a:after {
                content: '';
                width: 1px;
                height: 12px;
                background-color: #fff;
                display: inline-block;
                margin-left: 10px;
                position: relative;
                top: 1px; }
              .main #contact .can-do .txt button div span a:hover {
                color: #999; }
            .main #contact .can-do .txt button div span.phonenum {
              font-family: 'Roboto Mono', monospace,Arial;
              font-size: 30px;
              font-size: 1.875rem; }
            .main #contact .can-do .txt button div span.address {
              font-size: 19px;
              font-size: 1.1875rem;
              letter-spacing: 1px;
              margin-bottom: 8px;
              display: block; }
            .main #contact .can-do .txt button div span.mail {
              margin-left: 10px; }
              .main #contact .can-do .txt button div span.mail a:after {
                content: '';
                display: none; }
      .main #contact .can-do .form-box {
        flex: 0 0 70%; }
        .main #contact .can-do .form-box .form {
          background-color: #fff;
          border-radius: 10px;
          box-sizing: border-box;
          padding: 30px;
          height: 100%;
          display: flex; }
          .main #contact .can-do .form-box .form div {
            position: relative; }
            .main #contact .can-do .form-box .form div.input-group {
              flex: 0 0 33.3%; }
            .main #contact .can-do .form-box .form div.textarea {
              flex: 0 0 66.6%; }
            .main #contact .can-do .form-box .form div input[type="text"] {
              border: 0;
              border-bottom: 1px solid #aaa;
              width: 90%;
              padding: 20px 0;
              font-size: 18px;
              font-size: 1.125rem;
              letter-spacing: 1px; }
            .main #contact .can-do .form-box .form div textarea {
              background-color: #f8f8f8;
              resize: none;
              border: 0;
              width: 100%;
              height: 100%;
              box-sizing: border-box;
              padding: 10px;
              line-height: 25px; }
            .main #contact .can-do .form-box .form div button {
              border: 0;
              background-color: #f8f8f8;
              border-radius: 5px;
              padding: 10px;
              position: absolute;
              right: 10%;
              bottom: 0;
              transition: .3s;
              cursor: pointer; }
              .main #contact .can-do .form-box .form div button svg {
                font-size: 25px;
                font-size: 1.5625rem;
                margin-right: 5px; }
              .main #contact .can-do .form-box .form div button:hover {
                transition: .3s;
                background-color: #36556f;
                color: #fff; }
              .main #contact .can-do .form-box .form div button.for-m {
                display: none; }
  .main footer {
    text-align: center;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 1px;
    font-size: 13px;
    font-size: 0.8125rem; }

@media (max-width: 1700px) {
  .main .kv-box ul.kv-txt li:before {
    content: '';
    -webkit-transform: translateX(-80%);
            transform: translateX(-80%); } }

@media (max-width: 1600px) {
  .main .kv-box ul.kv-txt li:before {
    content: '';
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%); } }

@media (max-width: 1480px) {
  .main .kv-box .words {
    width: 70%;
    top: 26%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@media (max-width: 1280px) {
  .main .kv-box .logo {
    width: 150px; }
  .main .kv-box .words {
    width: 60%;
    font-size: 16px;
    font-size: 1rem;
    line-height: 23px; }
  .main .kv-box ul.kv-menu li {
    width: 85px;
    height: 180px;
    padding: 15px 0 0 8px;
    background-position: -75% 90%;
    background-size: 150%;
    font-size: 22px;
    font-size: 1.375rem; }
    .main .kv-box ul.kv-menu li a:after {
      font-size: 14px;
      font-size: 0.875rem;
      left: 18px; }
    .main .kv-box ul.kv-menu li:hover {
      background-size: 80%;
      font-size: 28px;
      font-size: 1.75rem; }
      .main .kv-box ul.kv-menu li:hover a:after {
        font-size: 16px;
        font-size: 1rem;
        left: 25px; }
  .main .kv-box ul.kv-txt li:before {
    content: '';
    max-width: 450px;
    font-size: 36px;
    font-size: 2.25rem;
    line-height: 3.5rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .main .item-tag {
    margin: 0 auto 30px; }
  .main #web .inner-box {
    max-width: 80%; }
  .main #banner {
    max-width: 80%; }
  .main #dm {
    max-width: 80%; }
  .main #contact {
    max-width: 80%; }
    .main #contact h3 {
      margin: 0 0 20px;
      font-size: 7.5vw; }
    .main #contact .what .txt h4 {
      font-size: 34px;
      font-size: 2.125rem; }
    .main #contact .what .dl-group dl:nth-child(1) dt:after {
      content: '';
      border-top: 15px solid #36556f; }
    .main #contact .what .dl-group dl:nth-child(2) dt:after {
      content: '';
      border-top: 15px solid #20354d; }
    .main #contact .what .dl-group dl:nth-child(3) dt:after {
      content: '';
      border-top: 15px solid #0d2035; }
    .main #contact .what .dl-group dl dt {
      font-size: 15px;
      font-size: 0.9375rem;
      letter-spacing: 4px; }
      .main #contact .what .dl-group dl dt:after {
        content: '';
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        bottom: -13px;
        left: 8px; }
    .main #contact .what .dl-group dl dd ul {
      margin-top: 20px;
      padding-left: 26px; }
      .main #contact .what .dl-group dl dd ul li {
        margin-bottom: 3px;
        line-height: 15px;
        font-size: 12px;
        font-size: 0.75rem; }
    .main #contact .can-do .txt {
      flex: 0 0 30%; }
      .main #contact .can-do .txt h4 {
        font-size: 34px;
        font-size: 2.125rem;
        margin: 0 0 10px; }
      .main #contact .can-do .txt p {
        line-height: 20px;
        font-size: 15px;
        font-size: 0.9375rem; }
      .main #contact .can-do .txt button {
        padding: 10px 5px; }
        .main #contact .can-do .txt button svg {
          font-size: 20px;
          font-size: 1.25rem;
          flex: 0 0 25px; }
        .main #contact .can-do .txt button div {
          flex: 0 0 calc( 100% - 25px);
          padding-left: 10px; }
          .main #contact .can-do .txt button div span a {
            font-size: 13px;
            font-size: 0.8125rem; }
          .main #contact .can-do .txt button div span.phonenum {
            font-size: 23px;
            font-size: 1.4375rem; }
          .main #contact .can-do .txt button div span.address {
            font-size: 13px;
            font-size: 0.8125rem; }
    .main #contact .can-do .form-box {
      flex: 0 0 70%; }
      .main #contact .can-do .form-box .form {
        padding: 15px; }
        .main #contact .can-do .form-box .form div input[type="text"] {
          padding: 10px 0;
          font-size: 13px;
          font-size: 0.8125rem; }
        .main #contact .can-do .form-box .form div textarea {
          padding: 5px;
          line-height: 18px;
          font-size: 13px;
          font-size: 0.8125rem; }
        .main #contact .can-do .form-box .form div button {
          padding: 5px;
          font-size: 13px;
          font-size: 0.8125rem; }
          .main #contact .can-do .form-box .form div button svg {
            font-size: 20px;
            font-size: 1.25rem; } }

@media (max-width: 960px) {
  .main .kv-box ul.kv-txt li:before {
    content: '';
    max-width: 450px;
    font-size: 35px;
    font-size: 2.1875rem;
    line-height: 3.2rem; } }

@media (max-width: 767px) {
  nav .menu {
    background-color: transparent; }
    nav .menu .logo-nav {
      display: none; }
      nav .menu .logo-nav + span {
        display: none; }
    nav .menu .link {
      display: none; }
    nav .menu .switch::before, nav .menu .switch::after {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      display: block;
      width: 24px;
      height: 2px;
      background-color: #fff;
      transition: .3s; }
    nav .menu .switch::before {
      content: '';
      top: 33%; }
    nav .menu .switch::after {
      content: '';
      bottom: 30%; }
    nav .menu .switch span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      display: block;
      width: 24px;
      height: 2px;
      background-color: #fff;
      transition: .3s; }
    nav .menu .switch.open {
      transition: .3s; }
      nav .menu .switch.open span {
        opacity: 0; }
      nav .menu .switch.open::before {
        transition: .3s;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        left: 24%;
        top: 49%; }
      nav .menu .switch.open::after {
        transition: .3s;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        left: 24%;
        bottom: 47%; }
  .main .kv-box .words {
    width: 50%; }
  .main .item-tag h2 {
    font-size: 23px;
    font-size: 1.4375rem; }
    .main .item-tag h2:after {
      font-size: 12px;
      font-size: 0.75rem;
      margin-top: 5px; }
  .main #web {
    background-image: url(../images/bg-web-mobile.png); }
    .main #web:after {
      content: '';
      height: 46%; }
    .main #web .inner-box {
      padding-bottom: 20px;
      max-width: 90%; }
      .main #web .inner-box .slider {
        padding-bottom: 0; }
        .main #web .inner-box .slider .slider-cover li.img {
          float: none;
          width: 100%; }
        .main #web .inner-box .slider.subnav {
          width: auto;
          border-top: 1px dotted #aaa; }
        .main #web .inner-box .slider .slick li {
          display: flex;
          flex-flow: wrap column; }
          .main #web .inner-box .slider .slick li .project-info {
            position: static;
            background-color: #E0E0E0;
            width: 100%;
            display: flex;
            padding: 20px 0;
            margin: 0 auto; }
            .main #web .inner-box .slider .slick li .project-info .list {
              flex: 0 0 calc(100% - 100px); }
              .main #web .inner-box .slider .slick li .project-info .list dl {
                display: none;
                margin-bottom: 0;
                padding-bottom: 0; }
                .main #web .inner-box .slider .slick li .project-info .list dl:first-child {
                  display: block; }
                .main #web .inner-box .slider .slick li .project-info .list dl dd {
                  font-size: 18px;
                  font-size: 1.125rem; }
            .main #web .inner-box .slider .slick li .project-info button {
              flex: 0 0 100px; }
          .main #web .inner-box .slider .slick li a {
            order: -1;
            width: 100%; }
  .main #banner {
    max-width: 90%; }
  .main #dm {
    max-width: 90%; }
  .main #contact {
    max-width: 90%; }
    .main #contact h3 {
      font-size: 8.4vw; }
    .main #contact .what {
      flex-flow: wrap column; }
      .main #contact .what .txt h4 {
        text-align: center;
        margin: 30px 0 20px; }
      .main #contact .what .dl-group dl dd ul li {
        margin-bottom: 5px;
        line-height: 20px;
        font-size: 15px;
        font-size: 0.9375rem; }
    .main #contact .can-do {
      display: flex;
      flex-flow: wrap column; }
      .main #contact .can-do .txt {
        display: flex;
        flex-flow: wrap column;
        padding-right: 0; }
        .main #contact .can-do .txt .head h4 {
          flex: 0 0 100%;
          text-align: center;
          margin: 0px 0 20px; }
        .main #contact .can-do .txt .word {
          display: flex;
          justify-content: space-between; }
          .main #contact .can-do .txt .word p {
            flex: 0 0 48%;
            margin: 0;
            line-height: 23px;
            font-size: 18px;
            font-size: 1.125rem; }
          .main #contact .can-do .txt .word .btn-group {
            flex: 0 0 48%;
            display: flex;
            flex-flow: wrap column; }
      .main #contact .can-do .form-box .form {
        margin-top: 15px;
        width: 100%;
        float: none;
        flex-flow: wrap column; }
        .main #contact .can-do .form-box .form div.input-group {
          margin-bottom: 15px; }
        .main #contact .can-do .form-box .form div.textarea textarea {
          height: 100px;
          margin-bottom: 15px; }
        .main #contact .can-do .form-box .form div input[type="text"] {
          font-size: 18px;
          font-size: 1.125rem;
          width: 60%; }
        .main #contact .can-do .form-box .form div textarea {
          font-size: 18px;
          font-size: 1.125rem; }
        .main #contact .can-do .form-box .form div button {
          font-size: 18px;
          font-size: 1.125rem; }
          .main #contact .can-do .form-box .form div button svg {
            font-size: 25px;
            font-size: 1.5625rem; }
          .main #contact .can-do .form-box .form div button.for-m {
            display: block;
            position: static;
            margin: 0 auto; }
          .main #contact .can-do .form-box .form div button.for-pc {
            display: none; } }

@media (max-width: 600px) {
  .main .kv-box {
    width: 95%;
    height: 87.8vh; }
    .main .kv-box .words {
      width: 60%;
      top: 30%;
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 26px; }
    .main .kv-box ul.title {
      display: block;
      text-align: right;
      -webkit-transform: scale(1);
              transform: scale(1);
      top: -40px; }
      .main .kv-box ul.title li {
        display: inline-block;
        margin-left: 5px; }
    .main .kv-box ul.kv-menu {
      display: none; }
  .main #web .inner-box .slider .slick li .project-info .list dl dd {
    font-size: 15px;
    font-size: 0.9375rem; }
  .main #contact .what {
    margin-bottom: 50px; }
    .main #contact .what .txt h4 {
      font-size: 24px;
      font-size: 1.5rem; }
    .main #contact .what .dl-group {
      flex-flow: wrap column;
      width: 90%;
      max-width: 260px;
      margin: 0 auto; }
      .main #contact .what .dl-group dl dt {
        font-size: 18px;
        font-size: 1.125rem; }
        .main #contact .what .dl-group dl dt:after {
          content: ''; }
  .main #contact .can-do .txt .head h4 {
    font-size: 24px;
    font-size: 1.5rem; }
  .main #contact .can-do .txt .word {
    flex-flow: wrap column;
    width: 90%;
    max-width: 260px;
    margin: 0 auto; }
    .main #contact .can-do .txt .word p {
      margin: 10px auto 20px; }
    .main #contact .can-do .txt .word .btn-group button {
      width: 220px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px; }
  .main #contact .can-do .form-box .form div input[type="text"] {
    width: 100%; } }

/*# sourceMappingURL=all.css.map */
