<!DOCTYPE html>
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='Description' content='')
    meta(name='keywords' content='')
    meta(name='msapplication-TileColor' content='設定釘選網站在動態磚上的圖示及動態磚顏色')
    meta(name='theme-color' content='手機背景顏色')
    meta(property='og:url' content='https://www.odia.com.tw')
    meta(property='og:type' content='website')
    meta(property='og:title' content='思潮創意數位有限公司')
    meta(property='og:description' content='')
    meta(property='og:image' content='給社群抓的圖')
    meta(property='og:image:width' content='600-1500') 
    meta(property='og:image:height' content='315-1500')
    title 思潮創意數位有限公司
    //-載入
    link(rel='shortcut icon' href='favicon.ico')
    link(rel="stylesheet", href="css/all.css")
    script(src="js/vendor.js")
    //-google font
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Teko:wght@400&display=swap" rel="stylesheet")
    //- (slick左右箭頭)
    link(href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" rel="stylesheet")

    
    //-font awsome
    script(defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous")
    //-slide
    link(rel="stylesheet" type="text/css" href="slick/slick.css")
    link(rel="stylesheet" type="text/css" href="slick/slick-theme.css")
    //-lightbox
    link(rel="stylesheet" href="viewbox-master/viewbox.css")
    script(src="viewbox-master/jquery.viewbox.min.js")

    script(src="js/jquery.preload.js")

    script.
      $(function(){
        $.preload(
          'images/kv-item-bg1.jpg',
          'images/kv-item-bg2.jpg',
          'images/kv-item-bg3.jpg',
          'images/kv-item-bg4.jpg'
        );
      })

  body
    .container
    
      nav
        section.menu
          .switch
            span.menubar
          .logo-nav: img(src="images/logo-nav.svg")
          span.site-name 
            span original media
          .link
            button.gotop
              i.fas.fa-arrow-up
            button
              i.fas.fa-mobile-alt
              span 
                a(href="tel:0952960365") 0952-960365
            button
              i.fas.fa-envelope
              span.address service@odia.com.tw
              span.copy
                input(value="service@odia.com.tw" style="display:none;")
                a(href="#" class="copy_coupon") 複製信箱
              span.mail
                a(href="mailto:service@odia.com.tw") 直接開啟
        section.sub-menu
          ul
            li
              a(href="#") 網站建置
            li
              a(href="#") 廣告素材
            li
              a(href="#") 數位刊物
            li
              a(href="#") 聯絡思潮

          ol.sub-menu-link
            li
              button.gotop
                i.fas.fa-arrow-up
            li
              button(onclick="window.open('tel:0952960365')")
                i.fas.fa-mobile-alt
            li
              button(onclick="window.open('mailto:service@odia.com.tw')")
                i.fas.fa-envelope


      .main
        section.kv-box
          ul.title
            li o
            li r
            li i
            li g
            li i
            li n
            li a
            li l
            li &nbsp;
            li m
            li e
            li d
            li i
            li a
          .logo: img(src="images/logo.svg")
          //- 四單元btn
          ul.kv-menu
            li
              a(href="#web") 網站建置
            li
              a(href="#banner") 廣告素材
            li
              a(href="#dm") 數位刊物
            li
              a(href="#contact") 聯絡思潮
          //- 四單元
          div.kv-txt-box
            //-輪播文字
            ul.words
              li 1著它他不來資坐是下就朋美，老地不背別林要人質然工室會：
              li 2後的！輕和片教的土務。們朋臺的動是張著不不者日每
              li 3間專明對病你實。地響除氣說黃、來之光自實開裡這！
              li 4444間專明對病你實。地響除氣說黃、來之光自實開裡這！
            //-衝浪者
            div.surfing#animation_container
              canvas#canvas
              div#dom_overlay_container
            //- 四單元介紹短文
            ul.kv-txt
              li &nbsp;
              li &nbsp;
              li &nbsp;
              li &nbsp;
            //- 四單元背景圖
            ul.kv-bg
              li &nbsp;
              li &nbsp;
              li &nbsp;
              li &nbsp;
        div.content
          section#web
            .inner-box
              .item-tag
                h2.tag-web 網站建置
              .slider
                ul.slider-cover 
                  li.img
                    img(src='images/slider-cover.png')
                ul.slick
                  li
                    .project-info
                      .list
                        dl
                          dt 官方網站
                          dd google建築設計顧問有限公司
                        dl
                          dt 合作夥伴
                          dd 古洛迪
                      button(onclick="window.open('https://google.com','_blank')") 瀏覽網站
                    a(href="#")
                      img(src="images/web01.png")
                  li
                    .project-info
                      .list
                        dl
                          dt 官方網站
                          dd 2SSDC澄毓綠建築設計顧問有限公司
                        dl
                          dt 合作夥伴
                          dd 古洛迪
                      button(onclick="location.href=''") 瀏覽網站
                    a(href="#")
                      img(src="images/web02.png")
                  li
                    .project-info
                      .list
                        dl
                          dt 官方網站
                          dd 1SSDC澄毓綠建築設計顧問有限公司
                        dl
                          dt 合作夥伴
                          dd 古洛迪
                      button(onclick="location.href=''") 瀏覽網站
                    a(href="#")
                      img(src="images/web01.png")
                  li
                    .project-info
                      .list
                        dl
                          dt 官方網站
                          dd 2SSDC澄毓綠建築設計顧問有限公司
                        dl
                          dt 合作夥伴
                          dd 古洛迪
                      button(onclick="location.href=''") 瀏覽網站
                    a(href="#")
                      img(src="images/web02.png")
                  li
                    .project-info
                      .list
                        dl
                          dt 官方網站
                          dd 1SSDC澄毓綠建築設計顧問有限公司
                        dl
                          dt 合作夥伴
                          dd 古洛迪
                      button(onclick="location.href=''") 瀏覽網站
                    a(href="#")
                      img(src="images/web01.png")
              .slider.subnav
                .slider-nav
                  a 思耐得股份有限公司
                  a 澄毓建築設限公司
                  a 思耐得股份司
                  a 澄毓建築設有限公司
                  a 思耐得股份有限公司
                  a 澄毓建築設有限公司
                  a 思耐得股份有限公司
          section#banner
            .item-tag
              h2.tag-banner 廣告素材

            ul.slick2
              li
                img(src="images/banner.jpg", alt="")
                span 專案名稱專案名稱專案名稱專案名稱專案名稱
              li
                img(src="images/banner2.jpg", alt="") 
                span 專案名稱專案名稱專案名稱專案名稱專案名稱
          section#dm
            .item-tag
              h2.tag-edm 刊物編排
            ul.slick3#imageGallery
                li
                  div(style="background-image:url('images/xx2.jpg');")
                  div
                    span 1-2專案名稱專案名稱
                    a(href="images/xx2.jpg" class="image-link") <i class="fas fa-search-plus"></i> 
                li
                  div(style="background-image:url('images/xx3.jpg');")
                  div
                    span 1-2專案名稱專案名稱
                    a(href="images/xx3.jpg" class="image-link") <i class="fas fa-search-plus"></i>
                li
                  div(style="background-image:url('images/xx4.jpg');")
                  div
                    span 1-2專案名稱專案名稱
                    a(href="images/xx4.jpg" class="image-link") <i class="fas fa-search-plus"></i>
                li
                  div(style="background-image:url('images/xx5.jpg');")
                  div
                    span 1-2專案名稱專案名稱
                    a(href="images/xx5.jpg" class="image-link") <i class="fas fa-search-plus"></i>
                li
                  div(style="background-image:url('images/xx3.jpg');")
                  div
                    span 1-2專案名稱專案名稱
                    a(href="images/xx3.jpg" class="image-link") <i class="fas fa-search-plus"></i>
          section#contact
            .item-tag
              h2.tag-contact 聯絡思潮
            h3 思潮=您的網路最佳方案
            .what
              .txt
                h4 如果您想...
              .dl-group
                dl
                  dt 做網站
                  dd 
                    ul
                      //- li 動線設計、視覺統籌、動態效果、後台功能客製化
                      li 形象品牌網站
                      li 行銷一頁式網站
                      li 廣告活動類網站
                      li 基礎SEO關鍵字設置
                dl
                  dt 找外包
                  dd 
                    ul
                      li 廣告素材製作，含特殊規格
                      li 各大社群粉絲團全規格圖樣製作
                      li EDM電子刊物
                      //- li PDF修改編輯設計
                      li 電子賀卡
                dl
                  dt 維護更新
                  dd 
                    ul
                      li 各大瀏覽器相容性檢測
                      li AWD &amp; RWD行動裝置測試
                      li 符合國際W3C網頁標準
                      li SEO網站關鍵字優化
            .can-do
              .txt
                .head
                  h4 那您可以...
                .word
                  p 直接撥打電話或email至服務信箱，也可填寫聯絡表單，本公司將盡快與您聯繫，歡迎洽詢！
                  .btn-group
                    button
                      i.fas.fa-mobile-alt
                      div
                        span.phonenum 0952-960365
                    button
                      i.fas.fa-envelope
                      div
                        span.address service@odia.com.tw
                        span.copy
                          input(value="service@odia.com.tw" style="display:none;")
                          a(href="#" class="copy_coupon") 複製信箱
                        span.mail
                          a(href="mailto:service@odia.com.tw") 直接開啟
              .form-box
                .form
                  .input-group
                    input.name(type="text" placeholder="填寫聯絡人")
                    input.mobile(type="text" placeholder="聯絡手機")
                    input.email(type="text" placeholder="聯絡手機")
                    button(class="for-pc") <i class="fas fa-paper-plane"></i>確認送出
                  .textarea
                    textarea(placeholder="聯絡事項")
                    button(class="for-m") <i class="fas fa-paper-plane"></i>確認送出
        footer
          span.copytright &copy; 2021 Odia Ltd. All Right Reserved.
    //- //- 選單
    //- script(type="text/javascript" src="js/nav.js")
    //- //- 複製信箱
    //- script(type="text/javascript" src="js/copytext.js")
    //- //- 回到最上層
    //- script(type="text/javascript" src="js/gotop.js")
    //- //- item隨scrollbar定位變色
    //- script(type="text/javascript" src="js/item-color.js")    
    //- //- kv slider
    //- script(type="text/javascript" src="js/kv-slider.js")
    //- surfing
    script(type="text/javascript" src="js/createjs-2015.11.26.min.js")
    script(type="text/javascript" src="js/surfing.js")
    script(type="text/javascript" src="js/animate.js")
    //- 小圖瀏覽
    script(type="text/javascript" src="slick/slick.min.js")
    //- 全部js整併 
    script(type="text/javascript" src="js/all.js")

    script.
      $(document).ready(function(){
        //- WEBSITE
        $('.slick').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          dots:false,
          arrows: false,
          //- autoplay: true,
          fade: true
        });
        $('.slider-nav').slick({
          slidesToShow: 5,
          slidesToScroll: 5,
          asNavFor: '.slick',
          dots: false,
          arrows: true,
          centerMode: true,
          centerPadding:0,
          focusOnSelect: true,
          touchMove:true,
          //- autoplay: true,
          draggable:true,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 650,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
        //- BANNER
        $('.slick2').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          dots:true,
          adaptiveHeight: true,
          arrows: true,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                arrows: false,
              }
            }
          ]
        });
        //- edm
        $('.slick3').slick({
          slidesToShow: 3,
          slidesToScroll: 3,
          swipe:true,
          dots:true,
          arrows: true,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                arrows: false
                //- swipe:true,
                //- slidesToShow: 2,
                //- slidesToScroll: 2
              }
            },
            {
              breakpoint: 640,
              settings: {
                arrows: false,
                swipe:true,
                slidesToScroll: 1,
                slidesToShow: 1
              }
            }
          ]
        });
        //- edm的lightbox
        $('.image-link').viewbox();
      });
